@font-face {
   font-family: 'NyghtSerif-DarkItalic';
   font-display: swap;
   src: url('NyghtSerif-DarkItalic/font.ttf');
}
@font-face {
   font-family: 'Ysabeau-Regular';
   font-display: swap;
   src: url('Ysabeau-Regular/font.ttf');
}
@font-face {
   font-family: 'YsabeauInfant-Regular';
   font-display: swap;
   src: url('YsabeauInfant-Regular/font.ttf');
}
