@font-face {
   font-family: 'Chubbo-Regular';
   font-display: swap;
   src: url('file:///C:/Users/en/AppData/Local/Mobirise.com/Mobirise/projects/project-2023-02-23_201319/fonts/Chubbo-Regular/font.ttf');
}
