@font-face {
   font-family: 'Rowan-Light';
   font-display: swap;
   src: url('file:///C:/Users/en/AppData/Local/Mobirise.com/Mobirise/projects/project-2023-02-23_201319/fonts/Rowan-Light/font.ttf');
}
